<div id="content">
	<h3>Content Template 1</h3>
	This is in content1 template...<br />
	This is in content1 template...<br />
	This is in content1 template...<br />
	This is in content1 template...<br />

</div>