<div id="halfcontent">
	<h3>Content Template 2</h3>
	This is in content2 template...<br />
	This is in content2 template...<br />
	This is in content2 template...<br />
	This is in content2 template...

</div>