<% include header %>
<% include menu %>

   <div id="content">
   <% if(rs.length > 0){ %>
      <table>
	<tr><th>Name</th><th>Street</th><th>City</th><th>State</th></tr>
	<% for (var i=0; rs.length > i; i++) { %>
	<tr>
	<td> <%= rs[i].Name %></td>
	<td><%= rs[i].Street %></td>
	<td><%= rs[i].City %></td>
	<td><%= rs[i].State %></td>
	</tr>
	<% } %>
	</table>
	<% } else { %>
	   No users are entered into the database.
	   <% } %>
    </div>	   
<% include resource %>

<% include footer %>