      <div id="footer">
        <a href="/term">Terms of Use</a>
        &nbsp; | &nbsp;
        <a href="about">About</a>
        &nbsp; | &nbsp;
        <a href="contact">Contact Us</a>
      </div>
    </div>



  </body>
</html>

