<!DOCTYPE html>
<html>
  <head>
    <title>hompage</title>
    <link rel="stylesheet" type="text/css" href="/mystyle.css">
  </head>
  <body>
    <div id="container">
      <div id="header1">
        <div style="border:5px double;width:50px;float:left">
          <b>LOGO</b>
        </div>
         MyBusinessName
      </div>

      <div id="header2">
        <b>Company theme goes in here.</b>
      </div>

