<% include header %>
<% include menu %>

   <div id="content">
        <p><b>Welcome</b></p>
        <br />
        Some welcome message goes in here........<br />
        Some welcome message goes in here........<br />
        Some welcome message goes in here........<br />

        <br />

        <p><b>News</b></p>
        Some news goes in here...................<br />
        Some news goes in here...................<br />
        Some news goes in here...................<br />

        <div style="text-align:right;">more>></div>

      </div>

<% include resource %>
<% include footer %>
