      <div id="menu">
        <div id="menu1">MENU</div>
        <br />
        <div id="menu2">Lab16</div>
        <br />
        <div id="menu3"></a href="entercustomer.html">Enter Customer</a></div>
        <div id="menu3"></a href="searchcustomer.html">Search Customer</a></div>
        <br />

        <div id="menu2">Lab17</div>
        <br />
        <div id="menu3"></a href="selectcustomer.html">Select Customer</a></div>
        <div id="menu3"></a href="users/table">Customer Table</a></div>
	<br />

        <div id="menu2">Lab18</div>
        <br />
        <div id="menu3"></a href="templatesample">Template Sample</a></div>
        <div id="menu3"></a href="users">Customer Table</a></div>
	<br />

        <div id="menu2">Lab19</div>
        <br />
        <div id="menu3"><a href="/users/create">Create Customer</a></div>
        <div id="menu3"><a href="/users/all">Customer Table</a></div>
        <br />

      </div>
