      <div id="resource">
        <br />
        <br />

        <b>History</b><br />
        <a href="/change1">*Homepage updated(01/02/14)</a><br />
        <a href="/change1">*Customer data page updated(02/03/14)</a><br />
        <a href="/change1">*Privacy policy added(03/04/14)</a><br />

        <br />

        <b>Links</b><br />
        <a href="https://www.google.com/">google</a><br />
        <a href="https://www.yahoo.com/">yahoo</a><br />
        <a href="https://www.facebook.com/">facebook</a><br />
        <a href="http://instagram.com/#">instagram</a><br />
        <div style="text-align:right;">More>></div>

      </div>

      </div>


