<% include header %>

            This is a list of examples.  See the app.js file to see what happens when these links are clicked.
            <ol>
                <li><a href="/simpleForm">Example 1</a> - HTML Form w/o Ajax or Database Interaction</li>
                <li><a href="/user/create">Example 2</a> - Modified version of Example 1 that saves user information to the database</li>
                <li><a href="/user/all">Example 3</a> - Displays all users in a table</li>
            </ol>


<% var hideBackLink = true; %>
<% include footer %>